---
---

@import "{{ site.theme }}";

table {
  display: none;
  
  p {
    margin: 0px;
    
    &.game {
      font-size: 12px;
    }
  }
  
  .circle {
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 5px;

    &.online {
      background-color: #2dc937;
    }
  }
}
