---
---

@import "{{ site.theme }}";

circle {
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 5px;
  
  &.online {
    background-color: #2dc937;
  }
}
