<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    {% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">
          <strong>Don't see someone listed who should be?</strong><br>
          {{ site.title | default: site.github.repository_name }} is maintained publicly
          on <a href="{{ site.github.repository_url }}">GitHub</a>. Contributions welcome!
        </p>
      </footer>
    </div>
    
    <!-- Table Formatting -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous">
    </script>

    <script>
      $( document ).ready(function() {
        var streamers = [];
        var usernames = [];
        
        $('table tr').each(function(i, row) {
          var $cells = $(row).find('td');
          if($cells.length == 3) {
            streamers.push({
              "username": $cells.eq(0).text(),
              "location": $cells.eq(1).text(),
              "description": $cells.eq(2).text(),
              "online": false
            });
            usernames.push($cells.eq(0).text());
          }

          $(row).remove();
        });

        var fetchURL = 'https://api.twitch.tv/helix/streams';
        $.each(usernames, function(i, username) {
          fetchURL += (i == 0 ? '?' : '&') + 'user_login=' + username;
        });
        
        fetch(fetchURL, {
          method: 'GET',
          headers: new Headers({
              "Client-ID": "vktz6plnlo8v0vv9ntgwz3joprjh3e",
          })
        }).then(function(response) {
          if (response.ok) {
            return response.json();
          }
        }).then(function(data) {
          $.each(data.data, function(i, streamInfo) {
            $.each(streamers, function(ii, streamer) {
              if(streamer.username.toLowerCase() == streamInfo.user_name.toLowerCase()) {
                streamer.online = true;
                streamer.viewers = streamInfo.viewer_count
              }
            });
          });

          var onlineStreamers = [];
          var offlineStreamers = [];
          $.each(streamers, function(i, streamer) {
            if(streamer.online) {
              onlineStreamers.push(streamer);
            } else {
              offlineStreamers.push(streamer);
            }
          });

          var $onlineTable = $('table');
          $onlineTable.html('<thead><tr><th colspan="3">' + onlineStreamers.length + ' Streamers Online</th></tr></thead><tbody></tbody>');
          onlineStreamers.sort(function() { return 0.5 - Math.random() });
          $.each(onlineStreamers, function(i, streamer) {
            $onlineTable.find('tbody').append(
              '<tr>' +
              '<td><div class="circle online"></div><a href="https://twitch.tv/' + 
                streamer.username + '">' + streamer.username + '</a></td>' +
              '<td>' + streamer.location + '</td>' +
              '<td>' + streamer.viewers + ' Viewers</td>' +
              '</tr>'
            );
          });

          var $offlineTable = $('<table></table>')
          $offlineTable.html('<thead><tr><th colspan="2">' + offlineStreamers.length + ' Streamers Offline</th></tr></thead><tbody></tbody>');
          offlineStreamers.sort(function() { return 0.5 - Math.random() });
          $.each(offlineStreamers, function(i, streamer) {
            $offlineTable.find('tbody').append(
              '<tr>' +
              '<td><div class="circle"></div><a href="https://twitch.tv/' + 
                streamer.username + '">' + streamer.username + '</a></td>' +
              '<td>' + streamer.location + '</td>' +
              '</tr>'
            );
          });
          $onlineTable.after($offlineTable);
          
          $('table').css('display','table');
        });
      });
    </script>
    
  </body>
</html>
